@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-image: linear-gradient(225deg, #F2C9DC, #F2B441);
    background-attachment: fixed;
    padding-left: 50px;
    padding-right: 50px;
}
main{
    background-color: white;
    padding: 30px;
    text-align: justify;
    font: normal 1em Lobster;
    border-radius: 10px;
}
h1{
    text-align: center;
}